<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Basic Page Needs
             –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta charset="utf-8">

        <title>Michelson Reference</title>
        <meta name="description" content="Michelson Reference">
        <meta name="author" content="Nomadic Labs">

        <!-- Mobile Specific Metas
             –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- FONT
             –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

        <!-- CSS
             –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
        <link rel="stylesheet" href="static/ref.css">
        <style type="text/css">{{pygments_css}}</style>
        <!-- Favicon
             –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
        <link rel="manifest" href="static/site.webmanifest">
    </head>
    <body>
        <div id="left" class="fl-column">

			<div class="bottom">
                <!-- Table of contents
                     –––––––––––––––––––––––––––––––––––––––––––––––––– -->
                <div id="toc-container" class="row">
                    {% import 'macros.html' as macros %}
                    {% include 'toc.html' %}

                    <hr />

                    <div id="help-contact">
                        <p>Need help or found an error in the reference? Contact us:</p>
                        <div id="contact-buttons">
                        {% macro link_help(emoji, url, text) %}
                        <li><a class="emoji" href="{{url}}">{{emoji}} </a><a href="{{url}}"> {{text}}</a></li>
                        {%- endmacro %}
                        <ul>
                            {{ link_help('❓', 'https://tezos.stackexchange.com/', 'Stack Exchange') }}
                            {{ link_help('💬', 'https://tezos-dev.slack.com/#tech-support', 'Slack') }}
                            {{ link_help('📁', 'https://gitlab.com/nomadic-labs/michelson-reference/-/issues/', 'GitLab') }}
                            {{ link_help('📨', 'mailto:michelson@nomadic-labs.com',  'Email') }}
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
		</div>
        <div id="right" class="fl-column">
            <div class="bottom">
                <div class="row">
                    <div id="contents" class="three-quarter column">
                        <h1>Michelson Reference</h1>
                        {% include 'body.html' %}
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="static/ref.js"></script>
        <script src="static/michelson.js"></script>
    </body>

</html>
