{{ macros.linkable_header(3, ('<code>' ~ instr.op_args ~ '</code>')|safe, macros.url_instr(instr.op), 'instruction') }}

<h5>{{instr.documentation_short|rst_inline}}</h5>

{% if instr['documentation'] %}

{{ instr.documentation | rst }}

{% endif %}

<details class="rules typing">
    <summary>Typing</summary>

    <div class="rule-box">
    {% for r in instr.ty %}
    {{ macros.pp_rule(r) }}
    {# <img src="images/rules/{{ r.name }}.png" /> #}
    {% endfor %}
    </div>
</details>

<details class="rules semantics">
    <summary>Semantics</summary>

    <div class="rule-box">
    {% for r in instr.semantics %}
    {{ macros.pp_rule(r) }}
    {# <img src="images/rules/{{ r.name }}.png" /> #}
    {% endfor %}
    </div>
</details>

{% for ex in instr.examples %}
{{ macros.linkable_header(5, 'Example: ' ~ (ex.name|rst_inline if 'name' in ex else ''), macros.url_example(ex), 'example') }}

{{ex.description | rst}}
{% if 'ranges' in ex %}
{{ macros.show_example(try_michelson_url,ex.code,ex.ranges,ex.initial_storage, ex.input) }}
{% else %}
{{ macros.show_example(try_michelson_url,ex.code,"-",ex.initial_storage, ex.input) }}
{% endif %}


{% if 'final_storage_pre' in ex or 'final_storage_post' in ex or not (ex['hide_final_storage']) %}
<p>
  {% endif %}
  {% if 'final_storage_pre' in ex %}
  {{ex.final_storage_pre | rst}}
  {% endif %}
  {% if not (ex['hide_final_storage']) %}
  If called with the initial
  storage {{ ('``'+ex.initial_storage +'``') | rst_inline}} and the
  parameter {{('``'+ex.input +'``')| rst_inline}} then the final storage
  will be {{('``'+ex.final_storage +'``')| rst_inline}}.
  {% endif %}
  {% if 'final_storage_post' in ex %}
  {{ex.final_storage_post | rst}}
  {% endif %}
  {% if 'final_storage_pre' in ex or 'final_storage_post' in ex or not (ex['hide_final_storage']) %}
</p>
{% endif %}

{% endfor %}

<hr />
