
<nav id="toc">
    <label for="toc-search">Search</label>
    <input class="u-full-width" placeholder="Search: add, ADD, [] -- address, ..." id="toc-search">

    <ul>
    <li><details>
        <summary>Types</summary>
        <ul class="types">
            {% for type in lang_def.get_types() %}
            <li class="type">{{macros.link_type(type)}}</li>
            {% endfor %}
        </ul>
        </details>
    </li>
    <li>
    <details>
        <summary>Instructions</summary>
            <ul>
                {% for cat, title in lang_def.get_categories().items() %}
                <li>
                    <details>
                        <summary>{{ title }}</summary>
                        <ul class="instructions">
                        {% for instr in lang_def.get_instructions_by_category(cat) %}

                        {# <li class="instr">{{macros.link_instr(instr)}}</li> #}

                        {% if instr.stack_effect %}
                        {% for se in instr.stack_effect %}
                        <li class="instr">
                            {{macros.link_instr(instr)}}: <code>{{ se[0] }}</code> &mdash; <code>{{ se[1] }}</code>
                        </li>
                        {% endfor %}
                        {% else %}
                        <li class="instr">{{macros.link_instr(instr)}}</li>
                        {% endif %}
                        {% endfor %}
                        </ul>
                    </details>
                </li>
                {% endfor %}
            </ul>
        </details>
    </li>
    </ul>
</nav>

